.hero{
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slogan{
    font-size: 70px;
    max-width: 600px;
    color: rgba(62, 146, 209, 1);
    /* white-space: nowrap; */
}
.description{
    font-size: 30px;
    color: rgba(151, 151, 151, 1);
    max-width: 350px;
}
.btn_container{
    display: flex;
    align-items: center;
    /* position: relative; */
    padding-top: 60px;
    padding-right: 50px;
    padding-bottom: 50px;
    gap: 5%;
    align-items: center;
    
}
.btnJoin{
    /* position: absolute;
    top: 50px;
    left: 0px; */
    z-index: 1;
    background-color: aqua;
    width: 245px;
    height: 90px;
    border: none;
    border-radius: 80px;
    background-color: rgba(62, 146, 209, 1);
    color: white;
    /* box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.10); */
}
.btnQuestion{
    /* position: absolute;
    top: 50px;
    left: 150px; */
    z-index: 0;
    width: 245px;
    height: 90px;
    border: none;  
    border-radius: 80px;
    color: rgba(62, 146, 209, 1);
    background-color: rgba(207, 235, 249, 1);
    /* box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.10); */

}
.btnDown{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnDown_item{
    position: relative;
    padding-bottom: 100px;
}
.btnDown-click{
    border: none;
    background-color: white;
    /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.10); */
    width: 100px;
    height: 100px;
    border-radius: 100px;  
   
}
.btnDown-click::before{
    position: absolute;
    content: url(../img/index-hero/chevron-down-double.svg);
    width: 50px;
    height: 50px;
    left: 25px;
    top: 25px;
}
@media (width <= 1000px){
    .btnDown{
        display: none;
    }
    .hero{
        padding: 50px;
        display: flex;
        flex-direction: column;
    }
    .slogan{
        font-size: 65px;
        color: rgba(62, 146, 209, 1);
        width: 550px;
    }
    .btn_container{
        padding-right: 0px;
    }
}
@media (width <=600px) {
    .hero{
        padding: 50px;
        display: flex;
        flex-direction: column;
    }
    .slogan{
        font-size: 50px;
        color: rgba(62, 146, 209, 1);
        width: 300px;
    }
    .description{
        font-size: 30px;
        color: rgba(151, 151, 151, 1);
        width: 250px;
    }
    .btn_container{
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        padding-right: 0px;

    
    }
    .btnQuestion{
        margin-top: 20px;
    }
}