/* @media (width <= 900px){
    .search_select, .search_date {
        width:150px ;
    }
    .search{
        flex-direction: column;
        height: 450px;
        width: 350px;
        border-radius: 80px;
    }
    .search_separator {
        width: 70px;
        height: 1px;
    }
} */


.row_search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    padding-bottom: 50px;
}

.search {
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5%;
    width: 85%;
    height: 100px;
    border-radius: 80px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.10);
    padding-left: 10px;
    padding-right: 10px;
}

.search_select,
.search_date {
    -webkit-appearance: none;
    position: relative;
    min-width:50px;
    height: 50px;
    border: none;
    background: transparent;
    /* user-select: none; */
    outline: 0;
    color: rgba(62, 73, 88, 1);
    /* margin-left: 20px;
    margin-right: 20px; */
}
input[type=date]::-webkit-calendar-picker-indicator{
	display:none;
}

.search_select,
.search_date {
    text-align: center;
}

.iconLocation,
.iconPeople,
.iconDate,
.iconPrice {
    opacity: 0.5;
    padding-right: 10px;
}

.search_separator {
    width: 1px;
    height: 70px;
    background-color: rgba(207, 235, 249, 1);
}

.select_group {
    display: flex;
    flex-wrap: nowrap;
}

.buttons_group {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 5%;
}

.buttons-click {
    border: none;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.10);
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

#btn_search::before{
    position: absolute;
    content: url(../img/index-search/search.svg);
    width: 40px;
    height: 40px;
    left: 25px;
    top: 30px;

}
#btn_settings::before{
    position: absolute;
    content: url(../img/index-search/settings.svg);
    width: 40px;
    height: 40px;
    left: 135px;
    top: 30px;
}

@media (width <=1000px) {

    .search_select,
    .search_date {
        width: 150px;
    }

    .search {
        flex-direction: column;
        height: 450px;
        width: 350px;
        border-radius: 80px;
        padding-left: 20px;
    }

    .search_separator {

        width: 70px;
        height: 1px;
    }

    .row_search {
        flex-direction: column;
    }

    .buttons_group {
        position: relative;
        flex-direction: column;
        margin-top: 10px;
        width: 350px;
    }

    .buttons-click {
        width: 175px;
        height: 100px;
        
    }
    #btn_search{
        position: absolute;
        height: 150px;
        border-radius: 0 0 0 80px;
        top: -90px;
        left: 0px;
    }
    #btn_settings{
        position: absolute;
        height: 150px;
        border-radius: 0 0 80px 0;
        top: -90px;
        left: 175px;  
    }
    #btn_search::before{
        position: absolute;
        content: url(../img/index-search/search.svg);
        width: 40px;
        height: 40px;
        left: 80px;
        top: 100px;
    
    }
    #btn_settings::before{
        position: absolute;
        content: url(../img/index-search/settings.svg);
        width: 40px;
        height: 40px;
        left: 50px;
        top: 100px;
    }
}