@import url(../card/card-block-creator.css);
@import url(../card/card-block-image.css);
@import url(../card/card-block-nameTender.css);
@import url(../card/card-block-wether.css);
@import url(../card/card-block-rating.css);
@import url(../card/card-block-statusLarge.css);
@import url(../card/card-block-curentPricePeople.css);
@import url(../card/card-block-info.css);
@import url(../card/card-block-voting.css);
@import url(../card/card-block-footer.css);
.display{
    display: flex;
    justify-content: center;
    /* background-color: bisque; */
    flex-wrap: wrap;
    

}
.block_selection{
    display: flex;
    
    justify-content: center;
    /* border: 1px solid darkblue; */
}
.block_item{
    margin: 10px;
    /* border: 2px solid black; */
    
}