@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');
.menu_list-link{
    font-family: 'DM Sans', sans-serif;
    font-size: 28px;
}
#day,#hourse,#minuts,#separatod{
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    font-size: 32px;
}

.block_statusLarge_selection_right{
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
}


